.Side-bar
  .Side-bar__user-name
    .top-items
      %p.top-items__name
        masa
      %ul.top-items__icons
        %li
        = link_to "#", class: "top-items__icons__btn" do
          %i.fas.fa.fa-edit
        %li
        = link_to "#", class: "top-items__icons__btn" do
          %i.fa.fa-cog
  .Side-bar__group-list