* {
  box-sizing: border-box;
}

//side-bar全てのfont-color
$font-color: #ffffff;

.wrapper {
  display: flex;
}

.Side-bar {
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
    .top-items {
      height: 20px;
      width: 260px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;
      &__name {
        color: $font-color;
        font-weight: bold;
        font-size: 16px;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        &__btn {
          color: $font-color;
        }
        .fas {
          margin-left: 5px;
        }
      }
    }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
  }
  .Group {
    padding: 20px 0 40px;
    &__name {
      color: $font-color;
      font-size: 15px;
    }
    &__message {
      color: $font-color;
      font-size: 11px;
      margin-top: 5px;
    }
  }
}

.Chat {
  width: calc(100vw - 300px);
  .RightHeader {
    height: 100px;
    padding: 0 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group {
      &__name {
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__memberList {
        margin-top: 15px;
        font-size: 12px;
        display: flex;
        color: #999999;
        &__name {
          padding-right: 5px;
        }
      }
    }
    &__editButton {
      display: block;
      border: 1px solid #38aef0;
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
    }
  }
  .MessageField {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    .MessageBox {
      margin-bottom: 46px;
      .MessageInfo {
        display: flex;
        &__userName {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .Message {
        margin-top: 12px;
        &__content {
          color: #434a54;
          font-size: 14px;
        }
      }
    }
  }
  .Footer {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 50px 20px 40px;
    .Form {
      display: flex;
      justify-content: space-between;
      &__contents {
        width: 100%;
        background-color: #fff;
        position: relative;
        &__input {
          border: none;
          height: 50px;
          width: 100%;
          padding: 0 45px 0 15px;
        }
        &__inputImage {
          height: 50px;
          position: absolute;
          right: 10px;
          .far {
            line-height: 50px;
            font-size: 25px;
          }
          .Hidden {
            display: none;
          }
        }
      }
      &__submit {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}